
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.DS_Store
*.log
*.sqlite3
*.env
*.cover
*.coverage
*.coveragerc
*.spec
*.iml
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace
*.mypy_cache/
*.pytest_cache/
*.tox/
*.ipynb_checkpoints/
venv/
site/